body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-fluid {
  width: 90%;
}

//utils

no-margin {
  margin: 0 !important;
}


.no-margin {
  margin: 0 !important;
}

.no-margin-y {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.no-margin-x {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-y {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.no-padding-x {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.text-bold {
  font-weight: bold;
}

.text-decoration-none {
  text-decoration: none !important;
}

.relative {
  position: relative;
}

.space-between {
  justify-content: space-between;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}

.align-self-start {
  align-self: flex-start;  
}

.text-transform-capitalize {
  text-transform: capitalize;
}

// add margins

.margin-y-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-y-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-y-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin-x-10 {
  margin-right: 10px;
  margin-left: 10px;
}

.margin-x-20 {
  margin-right: 20px;
  margin-left: 20px;
}

.margin-x-40 {
  margin-right: 40px;
  margin-left: 40px;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}
