@import '../../styles/variables.scss';

.table {
    font-size: 14px;

    thead {
        border-bottom: 1px solid #333333;
    }

    tr {
        vertical-align: middle;
    }

    td {
        vertical-align: middle;
        padding: 1rem;
    }
}


.table-striped tbody tr:nth-of-type(even) {
    background-color:#f8f8f8;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: #e3e3e3;
}

.icon-delete {
    color: $primaryColor;
    cursor: pointer;
}